



nav
{ 
	background-color: #01579b;
}

#banner
{
	width: 100% !important;
}


.parallax-container {
      height: 400px;
    }

.page-footer
{ 
	background-color:  #446CB3 !important;


}

#staggered-test li,#image-test{opacity:0}