



nav
{ 
	background-color: #01579b;
}

#banner
{
	width: 100% !important;
}


.parallax-container {
      height: 400px;
    }

.page-footer
{ 
	background-color:  #26A65B !important;


}

#tips li,#image-test
{
	opacity:0;
	padding-top: 3%;
	font-size: 18px;

}


 .collapsible-body p 
 {
 	font-size: 18px;
 }

 .caja
 {
 	float: left;
 	margin-top:20px;
 	margin-left: 50px;
 	border-style: solid;
 	border-color: #27ae60;
 	border-width: 1px;
 	border-radius: 2px;
 	padding: 2%;


 }

 .caja img
 {
 	width: 100%;
 	max-width: 200px;
 }

.caja h1
{
	font-size: 25px;
}