



nav
{ 
	background-color: #01579b;
}

#banner
{
	width: 100% !important;
}


.parallax-container {
      height: 400px;
    }

.page-footer
{ 
	background-color:  #26A65B !important;


}

#tips li,#image-test
{
	opacity:0;
	padding-top: 3%;
	font-size: 18px;

}


 .collapsible-body p 
 {
 	font-size: 18px;
 }